article{
    width: 600px;
    margin-left: auto; /*Margin left and right as auto will center
    a BLOCK level element*/
    margin-right: auto;
    padding: 16px; /* Spacing from top */
}

h1{
    font-family: sans-serif;
    text-align: center; /* Centers your text */
    color: green;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: auto; 
    margin-right: auto;
    color: blue;
}